[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Nsseiza
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Nsseiza
	label-Verified = -1..+1 group user/Nsseiza
	push = group user/Nsseiza
	read = group user/Nsseiza
	rebase = group user/Nsseiza
	removeReviewer = group user/Nsseiza
	submit = group user/Nsseiza
[access "refs/heads/*"]
	create = group user/Nsseiza
	push = +force group user/Nsseiza
	pushMerge = group user/Nsseiza
	read = group user/Nsseiza
[access "refs/tags/*"]
	push = group user/Nsseiza
	push = +force group user/Nsseiza
